
    <header>
           <nav>
            <ul class="navigation">
                <li><a href="/">Home Page</a></li>
                <li><a href="/addBreed">Add Breed</a></li>
                <li><a href="/addCat">Add Cat</a></li>
            </ul>
        </nav>
        <h1>Cat Shelter</h1>
    </header>
    <main>
        <form method="POST" class="cat-form" >
            <h2>Add Cat</h2>
            <label for="name">Name</label>
            <input name="name" type="text" id="name">
            <label for="description">Description</label>
            <textarea name="description" id="description"></textarea>
            <label for="image">Image</label>
            <input name="upload" type="`text" id="image">
            <label for="group">Breed</label>
            <select name="breed" id="group">
                {{#each breeds}}
                <option value={{name}}>{{name}}</option>
                {{/each}}
            </select>
            <button type="submit">Add Cat</button> 
        </form>
    </main>
